server=irc.libera.chat
port=6697
tls=true
nick=LuCa
user=luca
realname=LuCa IRC bot
channel=#luca
script=scripts/ping.lua
sasl=false
# sasl_user=account
# sasl_password=secret
pbmp_socket=/tmp/luca.pbmp.sock
reconnect_seconds=5
